@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: azure;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.nav {
  width: 100%;
  height: 87px;
  background-color: hsl(198, 47%, 59%);
  display: flex;
  justify-content: space-between;
  position: relative;
}

  .nav-h1 {
    font-size: 50px;
    color: rgb(255, 255, 255);
    
  }
  .nav span {
    color: #fff;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .nav div {
    display: flex;
  }
    .nav .box-1 {
      margin-left: 30px;
      height: inherit;
      display: flex;
      align-items: center;
    }
    .nav .box-1 span {
      display: flex;
      align-items: center;
      height: inherit;
      margin-left: 20px;
      font-size: 20px;
    }
    .nav .box-1 span p {
      margin-top: 5px;
    }
    .nav .box-2 {
      position: relative;
      height: inherit;
    }

    .nav .box-2 a {
      height: inherit;
      background-color: hsl(198, 47%, 59%);
      color: rgb(255, 255, 255);
      text-decoration: none;
      text-align: center;
      font-size: 1.15rem;
      font-weight: 600;
      display: flex;
      justify-content: center;
      align-items: center;
      padding-left: 30px;
      padding-right: 30px;
    }
      .nav .box-2 a:hover, .nav .box-2 a:active {
        background-color: hsl(198, 34%, 51%);
      }

.main {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: azure;
  padding-left: 20px;
  padding-right: 20px;
}
.user-box {
  width: 100%;
  max-width: 1500px;
  margin: 20px;
  background-color: #fff;
  border-radius: 1rem;
}
  .user-box div {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .user-box h1 {
  }
  .user-box button {

  }
.start-main {
}

.box-1 {

}

.section {
  width: 100%;
  max-width: 700px;
  padding-top: 3rem;
}
  .section h1 {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

.start-section {
  
}

.start-section > .section-div {
  background-color: #fff;
  min-height: 100px;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 8px 8px 49px -16px rgba(0,0,0,0.58);
  -webkit-box-shadow: 8px 8px 49px -16px rgba(0,0,0,0.58);
  -moz-box-shadow: 8px 8px 49px -16px rgba(0,0,0,0.58);
}

.section-div > div:nth-child(1) {
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
  width: 100%;
  background-color: hsl(198, 100%, 76%);
  color:black;
  border-bottom: 3px solid hsl(198, 47%, 59%);
}
.section-div > div:nth-child(1) h1 {
  color: #fff;
}

.poll-object {
  border-bottom: .5px solid rgba(133, 218, 255, 0.6);
  cursor: pointer;
}
  .poll-object h4{
    color: rgb(27, 8, 6);
    font-size: 20px;
  }
  .poll-object h5{
    color: rgb(27, 8, 6);
    font-size: 17px;
  }
  .poll-object h6{
    color: rgb(27, 8, 6);
  }
  .poll-object .title {
    display: flex;
    justify-content: space-between;
  }
  .poll-object .title p {
    font-size: .85rem;
  }
    .expire-soon {
      color: rgb(192, 11, 11);
    }

button {
  background-color: hsl(198, 47%, 59%);
  border: 3px solid hsl(198, 47%, 59%);
  color: #ffffff;
  border-radius: 5px;
  padding: 5px;
  font-weight: 600;
  cursor: pointer;
  margin: 5px;
}
  button:hover {
    background-color: hsl(198, 32%, 50%);
    border: 3px solid hsl(198, 32%, 50%);
  }
button.scnd-btn {
  background-color: #ffffff;
  border: 3px solid hsl(198, 47%, 59%);
  color: hsl(198, 47%, 59%);
  border-radius: 5px;
  padding: 5px;
  font-weight: 600;
  cursor: pointer;
}
  button.scnd-btn:hover {
    background-color: #dadada;
  }

/* Answering */
.unanswered {
  border: 1px solid rgb(204, 31, 31)
}

.star-rating{
  display: none;
}
.star-bg {
  position: relative;
  display: inline-block;
  font-weight: 900;
}
.star{
}

.poll-completed {
  background-color: rgb(166, 250, 177);
}

/*Results*/
.result-box {
  padding: 6px;
}
.result-box ul{
  list-style-type: none;
}

.metercontainer{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

  .barmeter {
    height: 16px;
    width: 100px;
    background-color: hsl(197, 54%, 84%);
    position: relative;
  }
    .meter {
      background-color: hsl(198, 47%, 59%);
      position: relative;
      height: inherit;
    }
    .percent {

    }

.star-outer {
  position: relative;
  display: inline-block;
}
.star-inner {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
}
  .star-outer::before {
    content: "\f005 \f005 \f005 \f005 \f005";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: #c4c4c4;
  }
  .star-inner::before {
    content: "\f005 \f005 \f005 \f005 \f005";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: #FFA500;
  }

.comment-list {
  display: flex;
  flex-wrap: wrap;
  background-color: #c4c4c4;
  padding: 3px;
}
.comment {
  display: inline;
  background-color: #fff;
  border: 1px solid hsl(198, 100%, 76%);
  border-radius: 10px;
  padding: 5px;
  padding-right: 7px;
  padding-left: 7px;
  border-top: 0px;
  border-left: 0px;
  margin: 3px;
  max-width: 100%;
  max-height: 100px;
  overflow-y: auto;
}

/*Create*/
#create-poll {
  padding: 1rem;
}
  #create-poll button {
    margin-top: 1rem;
    margin-bottom: 0rem;
    margin-left: 0;
  }

.create-top {
  border-bottom: 1px solid rgba(0,0,0,0.4);
  padding-bottom: 1rem;
}
.create-top .box-1 {
  display: flex;
  flex-direction: row;
}
#created-questions > div{
  border-bottom: .5px solid rgba(0,0,0,0.4);
  padding-top: 1rem;
}
#make-question {
  padding-top: 1rem;
}
.created-question {
  border: none;
}
  .created-question div{
    border: none;
  }
.create-bottom {
  padding: 1rem;
  padding-top: 0;
}
  .create-bottom button {
    margin: 0;
  }

.X {
  cursor: pointer;
  color: rgb(209, 53, 26);
}